@charset "UTF-08";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;

    background: hsl(257, 40%, 49%) url('../assets/images/bg-desktop.svg') center center;
    background-size: cover;  
}

main {
    margin: 3.8rem 0rem 0rem 7rem;
}

#logo {
    margin-bottom: 4.5rem;
}

#container {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

div#container > div#img-mockups {
    background: url('../assets/images/illustration-mockups.svg') no-repeat;
    background-size: contain;

    width: 155rem;
    height: 47rem;
}

div#container > div#text{
    margin-bottom: 14rem;
    line-height: 2.2rem;
}

div#container > div#text > h1 {
    font-family: 'Poppins', sans-serif;
    color:  #FFFDFF;
    font-size: 3.4rem;

    width: 83%;

    line-height: 5rem;
    margin-bottom: 1.5rem;
}

div#container > div#text > p {
    color: #FFEEFF;

    font-size: 1.5rem;
    width: 80%;
    
    margin-bottom: 2.7rem;
}

div#container > div#text > button {
    background-color: white;
    color: #7464A3;

    width: 18rem;
    height: 4.7rem;
    
    border: none;
    border-radius: 5rem;

    box-shadow: 1px 1px 3px 4px rgba(0, 0, 0, 0.158);
}

div#container > div#text > button:hover {
    cursor: pointer;
    background-color: hsl(300, 69%, 71%);

    transition: all 0.5s ease-in-out;
    transform: scale(1.1, 1.1);

    box-shadow: 1px 1px 4px 5px rgba(0, 0, 0, 0.137);
}

footer > ul {
    display: flex;
    flex-direction: row-reverse;

    list-style-type: none;  

    margin-right: 5rem;
}

footer >ul > li {
    margin-right: 1.8rem;
}

footer > ul > li a {
    color: white;
    text-decoration: none;
    
    font-size: 1.8rem;
    padding: 0.8rem;

    border: 1px solid white;
    border-radius: 50%; 
 
    display: flex;
}

a:hover {
    background-color: hsl(300, 69%, 71%);
    color: #7464A3;

    transition: all 0.5s ease-in-out;
    transform: scale(1.2);

    border: 1px solid hsl(300, 69%, 71%);
    box-shadow: 1px 1px 4px 5px rgba(0, 0, 0, 0.137);
}

@media screen and (max-width: 984px) {
     body {
        background: hsl(257, 40%, 49%) url('../assets/images/bg-mobile.svg') no-repeat center center;
        background-size: cover;
    }

    div#container {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    } 

    #img-mockups {
        background: url('../assets/images/illustration-mockups.svg') no-repeat;
        background-size: cover;
    }

    div#container > div#text {
        text-align: center;
        margin-left: 10rem;
        margin-top: 5rem;
        margin-bottom: 0rem;
    }

    div#container > div#text > h1 {
        width: 70%;
    }

    div#container > div#text > p {
        width: 71%;
    }

    div#container > div#text > button {
        margin-left: -18rem;
        
    }
    
    footer {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        padding-left: 7rem;
    }
}